<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.READ_PHONE_STATE"
        tools:node="remove" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${FILE_PROVIDER}"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".FullView"
            android:exported="false"
            android:theme="@style/Theme.MyAI"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ChatHistory"
            android:exported="false"
            android:theme="@style/Theme.MyAI"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ChatGemini"
            android:exported="false"
            android:theme="@style/Theme.MyAI"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".TextGame"
            android:exported="false"
            android:theme="@style/Theme.MyAI"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".CustomAssistant"
            android:exported="false"
            android:theme="@style/Theme.MyAI"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".NewsUpdate"
            android:exported="false"
            android:theme="@style/Theme.MyAI"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".WebSiteView"
            android:exported="false"
            android:theme="@style/Theme.MyAI"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ImageMod"
            android:exported="false"
            android:theme="@style/Theme.MyAI"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Settings2"
            android:exported="false"
            android:theme="@style/Theme.MyAI"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ChatMode"
            android:exported="false"
            android:theme="@style/Theme.MyAI"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".FullImageView"
            android:exported="false"
            android:theme="@style/Theme.MyAI"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".OnlyTextToSpeech"
            android:exported="false"
            android:theme="@style/Theme.MyAI"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Settings"
            android:exported="false"
            android:theme="@style/Theme.MyAI"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ImageDatabase"
            android:exported="false"
            android:theme="@style/Theme.MyAI"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".APIKeyPage"
            android:exported="false"
            android:theme="@style/Theme.MyAI"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".SelectAI"
            android:exported="false"
            android:theme="@style/Theme.MyAI"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".DatabaseManager"
            android:exported="false"
            android:theme="@style/Theme.MyAI"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.MyAI"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
